{% extends 'base.html.twig' %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>

                    <header>
                        <h3>Category</h3>
                    </header>

                    <ul class="list-group">
                        {% for category in categories %}
                            <h2 class="text-warning">{{ category.name }}</h2>

                        <table class="table table-bordered small">
                                <a class="btn-sm btn-success"
                                   href="{{ path('category_edit', {'id' : category.id}) }}">Edit &raquo;</a>
                                &#160&#160&#160
                                <a class="btn-sm btn-danger"
                                   href="{{ path('category_delete', {'id' : category.id}) }}">Delete &raquo;</a>
                                &#160&#160&#160
                        </table>

                        {% endfor %}
                    </ul>
                </article>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="{{ path('category_create') }}">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}