{% extends 'base.html.twig' %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>

                    <header>
                        <h2>{#{ category.name }#}</h2>
                    </header>

                    <h2>Category</h2>

                    <ul class="list-group">
                        {% for category in categories %}

                        <table class="table table-bordered small">
                                <a class="btn btn-default"
                                   href="{{ path('category_edit', {'id' : category.id}) }}">Edit &raquo;</a>
                                &#160&#160&#160
                                <a class="btn btn-danger"
                                   href="{{ path('category_delete', {'id' : category.id}) }}">Delete &raquo;</a>
                                &#160&#160&#160
                            <thead>{{ category.name }}</thead>

                        </table>

                        {% endfor %}
                    </ul>
                </article>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="{{ path('category_create') }}">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}