{% extends 'base.html.twig' %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}

    {% if danger is defined %}
        <div class="container body-content">
            <h3 class="text-danger text-center">{{ danger }}</h3>
        </div>
    {% endif %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('category_delete', {id: category.id}) }}" method="POST">
                <fieldset>
                    <legend>Delete Category</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="category_name">Category Name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="category_name" placeholder="Category Name"
                                   name="category[name]" value="{{ category.name }}" disabled>
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('category_create', {id: category.id}) }}">Cancel</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}