{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('product_create') }}" method="POST">
                <fieldset>
                    <legend>New Product</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="category_name">Product Category</label>
                        <div class="col-sm-4 ">
                            <select type="text" class="form-control" id="category_name" placeholder="Product Category"
                                   name="category[name]">
                                {% for category in categories %}
                                <option  value="{{ category.name }}" >{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_name">Product Name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="product_name" placeholder="Product Name"
                                   name="product[name]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_model">Model</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="product_model" placeholder="Model"
                            name="product[model]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_qtty">Quantity</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="any" class="form-control" id="product_qtty" placeholder="Quantity"
                                   name="product[qtty]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_price">Price</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="any" class="form-control" id="product_price" placeholder="Price"
                                   name="product[price]">
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('shop_index') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}