{% extends 'base.html.twig' %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('product_edit', {id: product.id}) }}" method="POST">
                <fieldset>
                    <legend>Edit product</legend>

                    <div class="form-group">
                    <label class="col-sm-4 control-label" for="category_name">Category name</label>
                    <div class="col-sm-4 ">
                        <select class="form-control" id="category_name" name="category[name]">
                            <option  value="{{ product.category.name }}" >{{ product.category.name }}</option>
                            {% for category in categories %}
                                <option  value="{{ category.name }}" >{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_name">Product name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="product_name"
                                   name="product[name]" value="{{ product.name }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_model">Model</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="product_model"
                                   name="product[model]" value="{{ product.model }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_qtty">Quantity</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="any" class="form-control" id="product_qtty"
                                   name="product[qtty]" value="{{ product.qtty }}">
                        </div>
                    </div>

                    <div class="form-group">
                            <label class="col-sm-4 control-label" for="product_price">Price</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="any" class="form-control" id="product_price"
                                   name="product[price]" value="{{ product.price }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="topProduct_mostWanted">
                            Top product rating (from 0)</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="any" class="form-control" id="topProduct_mostWanted"
                                   name="topProduct[mostWanted]" value="{{ product.mostWanted }}">
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('product_view', {id: product.id}) }}">Cancel</a>
                            <button type="submit" class="btn btn-success">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}