{% extends 'base.html.twig' %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}


    {% if danger is defined %}
        <div class="container body-content">
            <h1 class="text-danger text-center">{{ danger }}</h1>
        </div>
    {% endif %}


    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h3>{{ product.name }}</h3>
                    </header>

                    <p>
                        Category: {{ product.category.name }}
                    </p>
                    <p>
                        Model: {{ product.model }},
                        Quantity: {{ product.qtty }},
                        Price: {{ product.price }}
                    </p>

                    <small class="owner">
                        Owner: {{ product.owner }}
                    </small>

                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() and (app.getUser().isEdit() or app.getUser().isAdmin()) %}
                                <a class="btn-sm btn-success"
                                   href="{{ path('product_edit', {'id' : product.id}) }}">Edit &raquo;</a>
                                <a class="btn-sm btn-danger"
                                   href="{{ path('product_delete', {'id' : product.id}) }}">Delete &raquo;</a>
                                <a class="btn-sm btn-info"
                                   href="{{ path('product_create') }}">Products &raquo;</a>
                            {% endif %}
                            <a class="btn-sm btn-default"
                               href="{{ path('shop_index') }}">Home &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
{% endblock %}