{% extends 'base.html.twig' %}

{% block countInCart %}
{# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length}}</span>
    {% endif %}

{% endblock %}

{% block main %}

    {% if danger is defined %}
        <div class="container body-content">
            <h1 class="text-danger text-center">{{ danger }}</h1>
        </div>
    {% endif %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('product_sale', {id: payment.id}) }}" method="POST">
                <fieldset>
                    <legend>Sell a product</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="category_name">Category name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="category_name"
                                   placeholder="{{ payment.products.category.name }}" name="category[name]" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_name">Product name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="product_name"
                                   placeholder="{{ payment.products.name }}" name="product[name]" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_model">Model</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="product_model"
                                   placeholder="{{ payment.products.model }}" name="product[model]" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_qtty">Quantity</label>
                        <div class="col-sm-4 ">
                            <input type="number" class="form-control" id="product_qtty"
                                   placeholder="{{ payment.qtty }}" name="product[qtty]" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_price">Price</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="any" class="form-control" id="product_price"
                                   placeholder="Old Price: {{ payment.payment }}" name="product[price]">
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('shop_index') }}">Cancel</a>
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <legend>Products on sale by this user</legend>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2 ">Product Name</th>
                    <th class="col-sm-2 ">Model</th>
                    <th class="col-sm-2 ">Quantity</th>
                    <th class="col-sm-2 ">Price</th>
                </tr>
                </thead>

                {% for product in products %}
                    <form class="form-horizontal" action="{{ path('product_view', {id: product.id}) }}" method="POST">
                        <tr>
                            <td class="col-sm-2 ">
                                <input class="form-control" id="user_username"
                                       name="user[username]" value="{{ product.name }}" disabled>
                            </td>
                            <td class="col-sm-2 ">
                                <input class="form-control" id="user_firstName"
                                       name="user[firstName]" value="{{ product.model }}" disabled>
                            </td>
                            <td class="col-sm-2 ">
                                <input class="form-control" id="user_lastName"
                                       name="user[lastName]" value="{{ product.qtty }}" disabled>
                            </td>
                            <td class="col-sm-2 ">
                                <input class="form-control" id="user_lastName"
                                       name="user[lastName]" value="{{ product.price }}" disabled>
                            </td>

                            {% if app.getUser() and (app.getUser().isAdmin() or app.getUser().isEdit()) %}
                                <td class="col-sm-1">
                                    <div class="col-sm-1 col-sm-offset-1">
                                        <button type="submit" class="btn btn-primary">Modify</button>
                                    </div>
                                </td>
                            {% endif %}

                        </tr>
                        {{ form_row(form._token) }}
                    </form>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}