{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">

            <table class="table table-bordered">
                <tr>
                    <th class="col-sm-2 ">Username</th>
                    <th>Full Name</th>
                    <th>Cash</th>
                    <th>ROLE</th>
                    <th>Ban User</th>
                    <th></th>
                </tr>
                <tbody>

                {% for user in users %}
                    <form class="form-horizontal" action="{{ path('role_change', {id: user.id}) }}" method="POST">
                        <tr>

                            <td class="col-sm-2 ">
                                <input class="form-control" id="user_username"
                                       name="user[username]" value="{{ user.username }}" disabled>
                            </td>

                            <td class="col-sm-2 ">
                                <input class="form-control" id="user_firstName"
                                       name="user[firstName]" value="{{ user.firstName }} {{ user.lastName }}" disabled>
                            </td>

                            <td class="col-sm-2 ">
                                <input class="form-control" id="user_lastName"
                                       name="user[lastName]" value="{{ user.cash }} BGN" disabled>
                            </td>

                            {% for role in user.roles %}
                                <td class="col-sm-3 ">
                                    <input class="form-control" id="user_lastName"
                                           name="role[name]" value="{{ role }}" disabled>
                                </td>
                            {% endfor %}

                            <td class="col-sm-2 ">
                                {% if  user.ban == 0 %}
                                    <input class="form-control" id="user_isBan"
                                           name="user[isBan]" value="NO" disabled>
                                {% else %}
                                    <input class="form-control" id="user_isBan"
                                           name="user[isBan]" value="YES" disabled>
                                {% endif %}
                            </td>

                            <td class="col-sm-1">
                                <div class="col-sm-1 col-sm-offset-1">
                                    <button type="submit" class="btn btn-primary">EDIT</button>
                                </div>
                            </td>

                        </tr>
                    </form>
                {% endfor %}

                {{ form_row(form._token) }}

                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
