{% extends 'base.html.twig' %}

{% block categories %}
    {#•	Listing products in categories #}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for category in categories %}
                <li><a href="{{ path('product_category', {'id' : category.id}) }}">{{ category.name }}</a></li>
            {% endfor %}
            <li><a href="{{ path('shop_index') }}">All Categories</a></li>
        </ul>
    </li>
{% endblock %}

{% block products %}
    {# •	Listing products #}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('product_top') }}">Top product rating</a></li>
            <li><a href="{{ path('product_promo_asc') }}">Promo products</a></li>
            <li><a href="{{ path('product_price_asc') }}">Price: lowest first</a></li>
            <li><a href="{{ path('product_price_desc') }}">Price: highest first</a></li>
            <li><a href="{{ path('product_date_desc') }}">Time: newly listed</a></li>
            <li><a href="{{ path('product_date_asc') }}">Time: oldest listed</a></li>
        </ul>
    </li>
{% endblock %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}
    {% if products|length == 0 %}
        <h3 class="text-info">There are no products in the selected category.</h3>
    {% else %}
        
        <div class="container body-content">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        <article>
                            <header>
                                <h3>{{ product.name }}</h3>
                            </header>

                            <p>
                                Category: {{ product.category.name }}
                            </p>

                            <p>
                                Model: {{ product.model }},
                                Quantity: {{ product.qtty }}
                            </p>

                            <p>
                                {% if product.id in arrDiscount|keys  and arrDiscount[product.id]['percent'] > 0 %}
                                    Price:
                                    <label class="text-warning">
                                        <del class="text-info">{{ product.price }}</del>
                                        (Discount: {{ arrDiscount[product.id]['percent'] }}%,
                                        {{ arrDiscount[product.id]['newPrice'] }} BGN)
                                    </label>
                                {% else %}
                                    Price:
                                    <label class="text-info">
                                        {{ product.price }} BGN
                                    </label>
                                {% endif %}
                            </p>

                            <small class="owner">
                                Owner: {{ product.owner }}
                            </small>

                            <footer>
                                <div class="pull-right">

                                    <a class="btn btn-info btn-xs"
                                       href="{{ path('review_view', {'id' : product.id}) }}">Reviews &raquo;</a>

                                    {% if app.getUser() and app.getUser().isAdmin() %}

                                        <a class="btn btn-success btn-xs"
                                           href="{{ path('payment_cart', {'id' : product.id}) }}">Add to cart
                                            &raquo;</a>
                                        <a class="btn btn-default btn-xs"
                                           href="{{ path('product_view', {'id' : product.id}) }}">More &raquo;</a>

                                    {% elseif  app.getUser() and (app.getUser().isEdit()) and (app.getUser().isOwner(product) == null) %}

                                        <a class="btn btn-success btn-xs"
                                           href="{{ path('payment_cart', {'id' : product.id}) }}">Add to cart
                                            &raquo;</a>
                                        <a class="btn btn-default btn-xs"
                                           href="{{ path('product_view', {'id' : product.id}) }}">More &raquo;</a>

                                    {% elseif  app.getUser() and (app.getUser().isEdit()) and (app.getUser().isOwner(product) != null) %}

                                        <a class="btn btn-default btn-xs"
                                           href="{{ path('product_view', {'id' : product.id}) }}">More &raquo;</a>

                                    {% elseif app.getUser() and (app.getUser().isOwner(product) == null) %}

                                        <a class="btn btn-success btn-xs"
                                           href="{{ path('payment_cart', {'id' : product.id}) }}">Add to cart
                                            &raquo;</a>

                                    {% elseif app.getUser() and (app.getUser().isOwner(product) != null) %}


                                    {% else %}
                                        <a class="btn btn-success btn-xs"
                                           href="{{ path('payment_cart', {'id' : product.id}) }}">Add to cart
                                            &raquo;</a>
                                    {% endif %}
                                </div>
                            </footer>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
