{% extends 'base.html.twig' %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}

    {% if danger is defined %}
        <div class="container body-content">
            <h1 class="text-danger text-center">{{ danger }}</h1>
        </div>
    {% endif %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('discount_allproducts') }}" method="POST">
                <fieldset>
                    <legend>New Discount All Products</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="discount_startDate">Start Date Time</label>
                        <div class="col-sm-4 ">
                            <input type="datetime-local" class="form-control" id="discount_startDate"
                                   name="discount[startDate]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="discount_endDate">End Date Time</label>
                        <div class="col-sm-4 ">
                            <input type="datetime-local" class="form-control" id="discount_endDate"
                                   name="discount[endDate]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="discount_percent">Percent Discount</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="any" class="form-control" id="discount_percent"
                                   placeholder="Percent Discount - %" name="discount[percent]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="products">All Product</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="any" class="form-control" id="products"
                                   placeholder="All Product" name="products" disabled>
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('shop_index') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <label class="text-center">Текущи промоции</label>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2 ">Product Name</th>
                    <th class="col-sm-2 ">Product Model</th>
                    <th class="col-sm-2 ">Start Date Discount</th>
                    <th class="col-sm-2 ">End Date Discount</th>
                    <th class="col-sm-2 ">Percent</th>
                </tr>
                </thead>

                {% for product in products %}
                    {% for discount in product.discounts %}
                        {% if (discount.endDate|date('d.m.Y \\ H:i:s')) >= date|date('d.m.Y \\ H:i:s') %}
                            <tr>
                                <td class="col-sm-2 ">
                                    {{ product.name }}
                                </td>
                                <td class="col-sm-2 ">
                                    {{ product.model }}
                                </td>
                                <td class="col-sm-2 ">
                                    {{ discount.startDate|date('d.m.Y \\ H:i:s') }}
                                </td>
                                <td class="col-sm-2 ">
                                    {{ discount.endDate|date('d.m.Y \\ H:i:s') }}
                                </td>
                                <td class="col-sm-2 ">
                                    {{ discount.percent }}%
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {{ form_row(form._token) }}
            </table>

        </div>
    </div>

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <label class="text-center">Стари промоции</label>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2 ">Product Name</th>
                    <th class="col-sm-2 ">Product Model</th>
                    <th class="col-sm-2 ">Start Date Discount</th>
                    <th class="col-sm-2 ">End Date Discount</th>
                    <th class="col-sm-2 ">Percent</th>
                </tr>
                </thead>

                {% for product in products %}
                    {% for discount in product.discounts %}
                        {% if (discount.endDate|date('d.m.Y \\ H:i:s')) < date|date('d.m.Y \\ H:i:s') %}
                            <tr>
                                <td class="col-sm-2 ">
                                    {{ product.name }}
                                </td>
                                <td class="col-sm-2 ">
                                    {{ product.model }}
                                </td>
                                <td class="col-sm-2 ">
                                    {{ discount.startDate|date('d.m.Y \\ H:i:s') }}
                                </td>
                                <td class="col-sm-2 ">
                                    {{ discount.endDate|date('d.m.Y \\ H:i:s') }}
                                </td>
                                <td class="col-sm-2 ">
                                    {{ discount.percent }}%
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {{ form_row(form._token) }}
            </table>

        </div>
    </div>

{% endblock %}