{% extends 'base.html.twig' %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}

    {% if danger is defined %}
        <div class="container body-content">
            <h1 class="text-danger text-center">{{ danger }}</h1>
        </div>
    {% endif %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('discount_category') }}" method="POST">
                <fieldset>
                    <legend>Create category discount</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="discount_startDate">Discount starting time</label>
                        <div class="col-sm-4 ">
                            <input type="datetime-local" class="form-control" id="discount_startDate"
                                   placeholder="DD.MM.YYYY hh:mm" name="discount[startDate]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="discount_endDate">Discount ending time</label>
                        <div class="col-sm-4 ">
                            <input type="datetime-local" class="form-control" id="discount_endDate"
                                   placeholder="DD.MM.YYYY hh:mm" name="discount[endDate]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="discount_percent">Discount in percentage</label>
                        <div class="col-sm-4 ">
                            <input type="number" step="any" class="form-control" id="discount_percent"
                                   placeholder="Discount in percentage - %" name="discount[percent]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="category_id">Category name</label>
                        <div class="col-sm-4 ">
                            <select class="form-control" id="category_id" name="category[id]">

                                <option value="null">NULL</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('shop_index') }}">Cancel</a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <label class="text-center">Current promotions</label>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2">Category name</th>
                    <th class="col-sm-2">Discount starting time</th>
                    <th class="col-sm-2">Discount ending time</th>
                    <th class="col-sm-1">Percent</th>
                </tr>
                </thead>

                {% for category in categories|sort('endDate')|reverse %}
                    {% for discount in category.discounts %}
                        {% if ((discount.startDate|date('d.m.Y \\ H:i:s')) <= date|date('d.m.Y \\ H:i:s')) and
                            ((date|date('d.m.Y \\ H:i:s') <= discount.endDate|date('d.m.Y \\ H:i:s'))) %}
                            <tr>
                                <td>{{ category.name }}</td>
                                <td>{{ discount.startDate|date('d.m.Y \\ H:i:s') }}</td>
                                <td>{{ discount.endDate|date('d.m.Y \\ H:i:s') }}</td>
                                <td>{{ discount.percent }}%</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <label class="text-center">Future promotions</label>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2">Category name</th>
                    <th class="col-sm-2">Discount starting time</th>
                    <th class="col-sm-2">Discount ending time</th>
                    <th class="col-sm-1">Percent</th>
                </tr>
                </thead>

                {% for category in categories|sort('endDate')|reverse %}
                    {% for discount in category.discounts %}
                        {% if (discount.startDate|date('d.m.Y \\ H:i:s')) > date|date('d.m.Y \\ H:i:s') %}
                            <tr>
                                <td>{{ category.name }}</td>
                                <td>{{ discount.startDate|date('d.m.Y \\ H:i:s') }}</td>
                                <td>{{ discount.endDate|date('d.m.Y \\ H:i:s') }}</td>
                                <td>{{ discount.percent }}%</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <label class="text-center">Old promotions</label>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2">Category name</th>
                    <th class="col-sm-2">Discount starting time</th>
                    <th class="col-sm-2">Discount ending time</th>
                    <th class="col-sm-1">Percent</th>
                </tr>
                </thead>

                {% for category in categories|sort('endDate')|reverse %}
                    {% for discount in category.discounts %}
                        {% if (discount.endDate|date('d.m.Y \\ H:i:s')) < date|date('d.m.Y \\ H:i:s') %}
                            <tr>
                                <td>{{ category.name }}</td>
                                <td>{{ discount.startDate|date('d.m.Y \\ H:i:s') }}</td>
                                <td>{{ discount.endDate|date('d.m.Y \\ H:i:s') }}</td>
                                <td>{{ discount.percent }}%</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}