{% extends 'base.html.twig' %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}


    {% if danger is defined %}
        <div class="container body-content">
            <h1 class="text-danger text-center">{{ danger }}</h1>
        </div>
    {% endif %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{ product.name }}</h2>
                    </header>

                    <p>
                        Category: {{ product.category.name }}
                    </p>
                    <p>
                        Model: {{ product.model }},
                        Quantity: {{ product.qtty }},
                        Price: {{ product.price }}
                    </p>

                    <small class="owner">
                        Owner: {{ product.owner }}
                    </small>

                    <div class="container body-content span=8 offset=2">
                        <div class="well">
                            <form class="form-group" action="{{ path('review_save', {id: product.id}) }}" method="POST">
                                <label for="message">Message</label>
                                <textarea name="review[message]" id="review_message" class="table small" rows="3" required>
                                </textarea>
                                <input type="submit" value="Send" class="btnm col-sm-1 btn-info">
                            </form>
                        </div>
                    </div>

                    {% for review in product.reviews %}
                    <div class="container body-content span=8 offset=2">
                        <div class="well">
                            <table class="table table-bordered small">
                            Message: {{ review.message }}
                            </table>
                            Written by {{ review.owner.username }}
                        </div>
                    </div>
                    {% endfor %}

                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() and (app.getUser().isAdmin()) %}
                                {#    ADD edit    #}
                            {% endif %}





                            <a class="btn btn-default btn-xs"
                               href="{{ path('shop_index') }}">back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
{% endblock %}