{% extends 'base.html.twig' %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2 ">Product Name</th>
                    <th class="col-sm-2 ">Model</th>
                    <th class="col-sm-2 ">Quantity</th>
                    <th class="col-sm-2 ">Price</th>
                    <th class="col-sm-2 ">Discount</th>
                    <th class="col-sm-2 ">Payment</th>
                </tr>
                </thead>

                {% for payment in payments %}
                        <tr>
                            <td class="col-sm-2 "><input class="form-control" id="user_username"
                                       name="payment[products.name]" value="{{ payment.products.name }}" disabled></td>
                            <td class="col-sm-2 "><input class="form-control" id="user_firstName"
                                       name="payment[products.name]" value="{{ payment.products.model }}" disabled></td>
                            <td class="col-sm-1"><input class="form-control" id="user_lastName"
                                       name="payment[qtty]" value="{{ payment.qtty }}" disabled></td>
                            <td class="col-sm-1 "><input class="form-control" id="user_lastName"
                                       name="payment[price]" value="{{ payment.price }} BGN" disabled></td>
                            <td class="col-sm-1 "><input class="form-control" id="user_lastName"
                                       name="payment[price]" value="{{ payment.discount }}%" disabled></td>
                            <td class="col-sm-1 "><input class="form-control" id="user_lastName"
                                       name="payment[price]" value="{{ payment.payment }} BGN" disabled></td>
                        </tr>
                {% endfor %}

                <td class="col-sm-1"><div class="col-sm-1 col-sm-offset-1">
                        <a type="submit" class="btn btn-primary" href="{{ path('shop_index', {id: payment.id}) }}">Shopping</a>
                    </div></td>

            </table>

        </div>
    </div>

{% endblock %}