{% extends 'base.html.twig' %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <table class="table table-bordered small">

                <thead>
                <tr>
                    <th class="col-sm-2 small">Product name</th>
                    <th class="col-sm-2 small">Model</th>
                    <th class="col-sm-1 small">Quantity</th>
                    <th class="col-sm-1 small">Discount</th>
                    <th class="col-sm-2 small">Amount to pay</th>
                    <th class="col-sm-1 small">Purchase number</th>
                    <th class="col-sm-2 small">Purchase date</th>
                    <th class="col-sm-1 small">Paid</th>
                    <th class="col-sm-2 small">User</th>
                    <th class="col-sm-1 small"></th>
                    <th class="col-sm-1 small"></th>
                    <th class="col-sm-1 small"></th>
                </tr>
                </thead>

                {% for paymentsPaid in paymentsPaids %}
                    <tbody>
                    <tr>
                        <td>{{ paymentsPaid.products.name }}</td>
                        <td>{{ paymentsPaid.products.model }}</td>
                        <td>{{ paymentsPaid.qtty }}</td>
                        {% if paymentsPaid.discount > 0 %}
                            <td>{{ paymentsPaid.discount }}%</td>
                        {% else %}
                            <td class="text-info">NO</td>
                        {% endif %}
                        {% if paymentsPaid.paid == 1 %}
                            <td>{{ paymentsPaid.payment }} BGN</td>
                            <td>&#35 {{ paymentsPaid.documents.id }}</td>
                            <td>{{ paymentsPaid.documents.dateEvent|date('d.m.Y \\ H:i:s') }}</td>
                            <td>YES</td>
                        {% else %}
                            <td>{{ paymentsPaid.price }} BGN</td>
                            <td>&#35</td>
                            <td class="text-danger">Abandoned cart</td>
                            <td class="text-danger">NO</td>
                        {% endif %}
                        <td>{{ paymentsPaid.users.username }}</td>
                        <td><a type="submit" class="btn-sm btn-primary"
                               href="{{ path('product_sale', {'id' : paymentsPaid.id}) }}">Sell</a></td>
                        {% if paymentsPaid.paid == 0 %}
                            <td><a type="submit" class="btn-sm btn-danger"
                                   href="{{ path('payment_remove_product', {id: paymentsPaid.id}) }}">Remove</a></td>
                        {% endif %}
                    </tr>
                    </tbody>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}