{% extends 'base.html.twig' %}

{% block countInCart %}
    {# •	Count add to carts product #}
    {# defined works with variable names #}

    {% if payments is defined %}
        <span class="badge">{{ payments|length }}</span>
    {% endif %}

{% endblock %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <table class="table table-bordered small">

                <thead>
                <tr>
                    <th class="col-lg-1 small ">Product Name</th>
                    <th class="col-lg-1 small">Model</th>
                    <th class="col-sm-1 small">Quantity</th>
                    <th class="col-sm-1 small">Discount</th>
                    <th class="col-lg-1 small">Payment</th>
                    <th class="col-sm-1 small">Pay Number</th>
                    <th class="col-lg-2 small">Date Paid</th>
                    <th class="col-lg-1 small"></th>
                </tr>
                </thead>

                {% for paymentsPaid in paymentsPaids %}
                        <tbody>
                        <tr>
                            <td>{{ paymentsPaid.products.name }}</td>
                            <td>{{ paymentsPaid.products.model }}</td>
                            <td>{{ paymentsPaid.qtty }}</td>
                            <td>{{ paymentsPaid.discount }}%</td>
                            <td>{{ paymentsPaid.payment }} BGN</td>
                            <td>&#35 {{ paymentsPaid.documents.id }} </td>
                            <td>{{ paymentsPaid.documents.dateEvent|date('d.m.Y \\ H:i:s') }}</td>
                        </tr>
                        </tbody>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}